<h3>Make and the amount of Cars they made</h3>

@if (makeCarAmount) {
    <p>
    <strong>List of all cars made by {{makeCarAmount.name}}:</strong>
    </p>
    <p> Amount: {{makeCarAmount.carAmount}}</p>
    <table class='table table-striped' aria-labelledby="tableLabel">
    <thead>
      <tr>
        <th>ID</th>
        <th>Model</th>
        <th>Year</th>
      </tr>
    </thead>
    <tbody>
      @for (car of makeCarAmount.cars; track makeCarAmount.makeID) {
        <tr ngFor="let car of makeCarAmount.cars">
          <td> {{ car.carId }}</td>
          <td>{{ car.model }}</td>
          <td>{{ car.year }}</td>
        </tr>  
      }
    </tbody>
  </table>
}


<div>
    <a mat-flat-button color="secondary"
        [routerLink]="['/makes']" routerLinkActive="router-link-active">Back</a>

</div>

